body {
  background-color: darkblue;
}

.board {
  background-color: white;
  height: 75%;
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 18%;
}

.board-position {
  padding:1%;
  display: block;
  height: 30%;
  width: 30%;
  background-color: darkblue;
  border:solid white;
  float:right;
  margin: 0 auto;
}
