body {
  background-color: darkblue;
}

.board {
  background-color: white;
  height: 75%;
  width: 50%;
}

.board-position {
  height: 30%;
  width: 30%;
  background-color: white;
  border:solid black;
  float:right;
}
