body {
  background-color: darkblue;
}

.board {
  background-color: white;
  height: 75%;
  width: 50%;
}

.board-position {
  height: 30%;
  width: 30%;
  background-color: darkblue;
  border:solid white;
  float:right;
  margin: 0 auto;
}
